n8n-chatbot-workflow.json
{
  "name": "KaliGuru AI Mentor Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kali-mentor",
        "options": {}
      },
      "id": "6b4b4b4b-4b4b-4b4b-4b4b-4b4b4b4b4b4b",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"body\"][\"message\"] }}",
              "operation": "contains",
              "value2": "http"
            }
          ]
        }
      },
      "id": "7b7b7b7b-7b7b-7b7b-7b7b-7b7b7b7b7b7b",
      "name": "Has URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"url\": \"{{ $node[\"Chat Trigger\"].json[\"body\"][\"url\"] }}\", \"formats\": [\"markdown\"] }",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_FIRECRAWL_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "8b8b8b8b-8b8b-8b8b-8b8b-8b8b8b8b8b8b",
      "name": "Firecrawl Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 200]
    },
    {
      "parameters": {
        "model": "dolphin-llama3",
        "prompt": "={{ $node[\"Chat Trigger\"].json[\"body\"][\"message\"] }}\n\nContext from URL:\n{{ $node[\"Firecrawl Scraper\"].json[\"data\"][\"markdown\"] }}",
        "options": {}
      },
      "id": "9b9b9b9b-9b9b-9b9b-9b9b-9b9b9b9b9b9b",
      "name": "Ollama (Dolphin)",
      "type": "n8n-nodes-base.ollamaChat",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "10b10b10-10b10-10b10-10b10-10b10b10b10b",
      "name": "Respond to User",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [950, 300]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Has URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL?": {
      "main": [
        [
          {
            "node": "Firecrawl Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ollama (Dolphin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scraper": {
      "main": [
        [
          {
            "node": "Ollama (Dolphin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama (Dolphin)": {
      "main": [
        [
          {
            "node": "Respond to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
